# LaTeX temporary files
*.aux
*.log
*.toc
 
# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace

# Backup files
*~
*.backup
*.tex.backup
